<label>Server Name: </label>
<!-- <input type="text" class="form-control" (input)="onUpdateServer($event)" /> -->
<input type="text" class="form-control" [(ngModel)]="serverName" />
<br>
<!-- <p> {{ serverName }}</p> -->
<button class="btn btn-primary" [disabled]="!allowNewServer"
(click)="onCreateServer()">Add Server</button>
<br><br>
<!-- <p [innerText]="allowNewServer"></p> -->
<!-- <p> {{ serverStatus }}</p> -->
<p *ngIf="serverCreated; else noServer">{{ serverStatus }}</p>
<!-- <ng-template #noServer>
    <p>Server was not created!</p>
</ng-template> -->
<app-server *ngFor="let server of servers"></app-server>

